<div class="card d-flex w-25 p-3 mx-auto mt-5">
  <h3>Resend confirmation instructions</h3>
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), method: :post, html: { class: "d-flex flex-column mb-3" }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>
    <div class="form-inputs d-flex flex-column gap-2">
      <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email", class: "w-100" },
                label_html: { class: "text-secondary" } %>
    </div>
    <div class="form-actions d-flex">
      <%= f.button :submit, "Resend confirmation instructions", class: "btn btn-primary mt-2 px-4 w-100" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
