<div class="body-max-width mx-auto mt-5">
  <div class="card w-50 mx-auto">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <i class="bi bi-journal me-2 fs-4"></i>
        <h4 class="m-0"><%= @recipe.name %></h4>
      </div>
      <%= link_to 'Back to Recipes', recipes_path, class: 'btn btn-outline-secondary' %>
    </div>
    <div class="d-flex flex-column gap-1 p-3">
      <div class="d-flex justify-content-between">
        <p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> minutes</p>
        <div class="form-check form-switch">
          <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" <%= @recipe.public ? 'checked' : '' %> disabled>
        </div>
      </div>
      <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
      <p><strong>Description:</strong> <%= @recipe.description %></p>
      <div class="d-flex justify-content-between">
        <%= link_to general_shopping_lists_path, class: 'btn btn-secondary px-5' do %>
          Go to my Shopping List
          <i class="bi bi-box-arrow-up-right text-white ms-1"></i>
        <% end %>
        <% if current_user == @recipe.user %>
          <%= link_to '+ Add Ingredient', new_recipe_food_path(recipe_id: @recipe.id), class: 'btn btn-primary px-5' %>
        <% else %>
          <%= button_to '+ Add Ingredient', new_recipe_food_path(recipe_id: @recipe.id), class: 'btn btn-primary px-5 disabled' %>
        <% end %>
      </div>
      <% if @ingredients.present? %>
        <div class="h-75 border-bottom my-4"></div>
        <div class="table-responsive">
          <table class="table table-hover mb-0 border">
            <thead>
              <tr>
                <th class="bg-pink text-white fw-normal ps-3">Ingredient</th>
                <th class="bg-pink text-white fw-normal text-center">Quantity</th>
                <th class="bg-pink text-white fw-normal">Price</th>
                <th class="bg-pink text-white fw-normal pe-3 text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @ingredients.each do |item| %>
                <tr>
                  <td class="ps-3"><%= item[:name] %></td>
                  <td class="text-center">
                    <%= item[:quantity] %>
                    <%= item[:measurement_unit] %><% if item[:measurement_unit].length > 2 && item[:quantity] > 1 %>s
                    <% end %>
                  </td>
                  <td><%= number_to_currency(item[:price]) %></td>
                  <td class="pe-3 text-center col-2">
                    <% if current_user == @recipe.user %>
                      <%= button_to 'Remove', recipe_food_path(item[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary py-0 px-2 border-0' %>
                    <% else %>
                      <small class="fst-italic text-secondary">Not allowed</small>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
