<%# app/views/recipes/show.html.erb %>

<h1><%= @recipe.name %></h1>
<p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> minutes</p>
<p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
<p><strong>Description:</strong> <%= @recipe.description %></p>
<p><strong>Public:</strong> <%= @recipe.public ? "Yes" : "No" %></p>

<%= link_to 'Back to Recipes', recipes_path, class: 'btn btn-secondary' %>
